body{
    background-image: linear-gradient(to top,#e8c39e,#46220f);
    background-attachment: fixed;
    margin: 30px;
}
    

ul{
    display: flex;
    justify-content: space-evenly;
}
#caixa{
    display: flex;
    justify-content: center;
    margin-bottom: -60px;
    background-color: #301f17;
    width: 1000px;
    border-radius: 20px;
    box-shadow: 10px 10px solid chocolate;
}

#central{
    display: flex;
    justify-content: center;
}



#novaLogo{
    height: 400px;
    width: 600px;
    margin-top: -70px;
    margin-bottom: -100px;
}

.meio{
    
}




a{
    text-decoration: none;
}


#sabores{
    margin-top: 40px;
    background-color: #8d4925;
    border: 2px solid pink;
    width: 200px;
    height: 50px;
    text-align: center;
    align-items: center;
    align-content: center;
    list-style: none;
    color: #ffc1d5;
    font-size: 40px;
    font-weight: bolder;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    transition: all 1s ease-in-out;
}



#sabores:hover{
    transform: scale(1.1);
    color: bisque;
    background-color: #282827;
}
#linha{
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 600px;
    height: 600px;
}

#imagens{
    width: 600px;
    height: 600px;
}

.primeiro{
animation:carrossel 10s ease-in-out infinite ; 
animation-delay: 1s;
}



@keyframes carrossel{
    0%{
        margin-left:0px;
    }
    50%{
        margin-left: -600px;
    }
    75%{
        margin-left: -1200px;
    }
    100%{
        
    }
} 

#Precos {
    display: flex;
    justify-content: space-evenly;
    margin-top: 200px;
    background-image: url(fotos/novoFundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 100px;
 
   
}

#opcao{
    width: 300px;
    height: 300px;
   
    border-radius: 20px;
}

.menus:hover{
transform: scale(1.1);
}

.menus{

display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-end;
font-size: 40px;
color: white;
    height: 300px;
    width: 300px;
    margin-top: 20px;
    border-radius: 20px;
    transition: all 0.4s ease-in-out;
}

#mara{
    background-image: url(fotos/maracuja.jpg);
    background-size: cover;
 height: 400px;
 border-radius: 30px;
 font-family: inherit;
}
#mara1{
    background-image: url(fotos/novoFundo.gif);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    border-radius: 20px;
    height: 200px;
    color: pink;
}

#choco{
    background-image: url(fotos/chocola.png);
    background-size: cover;
    height: 400px;
    border-radius: 30px;
    font-family: inherit;
}
#briga{
    background-image: url(fotos/brigadero.jfif);
    background-size: cover;
    height: 400px;
    border-radius: 30px;
    font-family: inherit;
}
#limao{
    background-image: url(fotos/limao.jpg);
    background-size: cover;
    height: 400px;
    border-radius: 30px;
    font-family: inherit;
    width: 250px;
    text-align: center;

}
#confeite{
    width: 400px;
    
}
#tituloValor{
    font-size: 30px;
}
#ovalor{
    width: 500px;
    font-size: 20px;
    color: white;
}
#valores{
    display: flex;
    justify-content: space-evenly;
    
}
footer{
    background-color: #301f17;
    color: white;
    height: 400px;
    margin: 50px;
}
#whats{
    display: flex;
    margin: 5px;
    gap: 10px;
}
#zap{
    width: 50px;
    background-color: white;
    border-radius: 50%;
}

#alinhamento1{
  display: flex;
  justify-content: space-evenly;
  margin: 30px;
  padding: 100px;
}
h1{
    text-align: center;
}
p{
    text-align: center;
}
#locais{
    display: flex;
}
#local{
    width: 50px;
    margin: 10px;
    background-color: white;
    border-radius: 50%;
}
#valores{
    
}
@media(max-width:1024px){
    #alinhamento{
            display: flex;
            justify-content: space-around;
            margin-left: -100px;
    }
    #fundo{

    }
    #novaLogo{
       
        width: 300px;
    }
    #Precos{
        display: flex;
        justify-content: center;
        gap: 10px;
    }

}